In [1]:
from selenium import webdriver

In [5]:
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

In [6]:
from selenium.webdriver.common.by import By

In [10]:
article_list = []

def get_article(page):
    ## driver = webdriver.Chrome("C:\JupyterTest\chromedriver\chromedriver.exe")
    
    driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
    
    driver.get("http://news.naver.com/main/main.nhn?mode=LSD&mid=shm&sid1=105#&date=%2000:00:00&page=" + str(page))
    articles = driver.find_elements(By.CSS_SELECTOR,'#section_body li')
    
    for article in articles:
        title = article.find_element(By.CSS_SELECTOR, 'dt:not(.photo) > a').text
        article_list.append(title)
        
    print("end :", page)
    
    driver.quit()

In [11]:
%%time
for page in range(1,5):
    get_article(page)

end : 1
end : 2
end : 3
end : 4
Wall time: 35.4 s

In [12]:
len(article_list), article_list[:30]

(80,
 ['갤럭시Z플립5 "홈버튼·뒤로가기에 앱은 12개?" 외부 시연 영상 [글로벌 IT슈]',
  '네이버보다 기프티콘 수수료 높다?...카카오 "사업 구조 달라 차이 발생" 해명',
  '韓, AI 경쟁력 세계 6위… “알고리즘 기술·정부정책 높은 평가”',
  '카톡 선물하기 수수료, 올해 국감 화두되나…가맹점 불만 높은 이유는?',
  '"챗GPT 시대 낙오될라"…메가존-한국MS 활용전략 세미나에 기업 경영진 \'북새통\'',
  "5월 스마트폰 판매 23개월 연속 '역성장'...삼성·애플 신제품 효과 끝",
  '"경영공백 사태 책임져라"…고성 오간 KT 임시 주총',
  '카카오게임즈, 신구 게임 조화로 하반기 반등 준비',
  '조계현 카겜 대표 "아레스, MMORPG 지각변동 일으킬 게임 체인저 될 것"',
  "'MMORPG 장인' 엔씨, 장수 게임 '길드워2'로 해외 진출 박차",
  '바람 잘 날 없는 게임위…신뢰도 추락 어디까지',
  '국가 수소 중점연구실 세운다… 수소 R&D 전략 통합',
  '일감 몰아주기인가?…KT 하청업체 품질평가표 봤더니',
  '[지금은 기후위기] 치솟는 이산화탄소 농도, 우리나라도 역대 최고치',
  '인간, ‘여섯번째 대멸종’ 가속화 시킨다 [사이언스 브런치]',
  "'수능'처럼 국가 R&D 사업 손보나···예산 배분안 심의 결국 연기",
  'NASA, 가짜 화성기지에 우주인들 1년 간 가뒀다 [우주로 간다]',
  '부산에서 핀란드로…"글로벌에서 먹힌다"는 이 사업 [긱스]',
  '"안건에만 물어라"…소란 가득했던 KT 임시주총',
  "국산 RPA ‘체크메이트’ 앞세워… 시메이션, 금융권 '초자동화' 시장 돌풍",
  '\'아이폰\' 최고 희귀모델, 경매 나온다.."예상 낙찰가 10만달러"',
  '"주가 어쩔거냐" 주주들 성토…새 이사회 꾸린 KT, 대표 선임 남았다',
  '\'카톡 대란\' 8개월 만에 피해보상 완료 "총 275억원"',
  '[르포] "박종욱 의장 자격 있나"… 주주들 성토장 된 KT 주총',
  '주총 고비 넘긴 KT...차기 대표 선임 절차는, 시기는(종합)',
  "카카오 '판교발 서비스 오류' 피해보상 완료....총 275억원 규모",
  "KT 대표, '주주 60%' 지지 얻어야 가능해진다",
  '[소부장 TF] ㉟ 반도체 박막증착 장비기업 유진테크, 불황에도 R&D 확대',
  "유령 입자 '중성미자' 우리은하에서 첫 검출",
  '"2023년 게임체인저 될 것" 카카오게임즈, \'아레스\' 흥행 자신감'])

In [13]:
import threading
import pandas as pd

df = pd.DataFrame(columns=["title"])

In [14]:
print(df)

Empty DataFrame
Columns: [title]
Index: []

In [15]:
len(df)

0

In [30]:
def get_article(page):
    driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
    
    driver.get(
    "http://news.naver.com/main/main.nhn?mode=LSD&mid=shm&sid1=105#&date=%2000:00:00&page=" + str(page))
    articles = driver.find_elements(By.CSS_SELECTOR, '#section_body li')
    
    for article in articles:
        title = article.find_element(By.CSS_SELECTOR, 'dt:not(.photo) > a').text
        df.loc[len(df)] = {
            "title" : title,
        }
        
    driver.quit()

In [31]:
%%time
for page in range(1,5):
    get_article(page)

Wall time: 35.4 s

In [32]:
df.tail()

                                    title
75  KT, 임시 주총서 신규 사외이사 7인 선임…차기 대표 인선 본격화
76             새 이사진 꾸린 KT, CEO 인선 레이스 돌입
77                  KT 새 이사회 구성…정상화 첫발 뗐다
78              인공지능 활용력, 미래에는 나의 경쟁력이 된다
79     "UAM 경쟁력 강화"…SKT, 美 조비에 1억달러 지분 투자

In [33]:
df

                                             title
0                        韓 소부장, '세미콘차이나'서 첨단 기술 뽐내
1           "K-패션, 일본 진출 적기…한국식 트렌디함, 독될 수도" [현장+]
2            의사 출신 고위공직자들 ‘헬스케어·백신주 사랑’...재산 내역봤더니
3                "韓매출 5배 성장"...에코백스, 종합 로봇가전 회사 도약
4   갤럭시Z플립5 "홈버튼·뒤로가기에 앱은 12개?" 외부 시연 영상 [글로벌 IT슈]
..                                             ...
75           KT, 임시 주총서 신규 사외이사 7인 선임…차기 대표 인선 본격화
76                      새 이사진 꾸린 KT, CEO 인선 레이스 돌입
77                           KT 새 이사회 구성…정상화 첫발 뗐다
78                       인공지능 활용력, 미래에는 나의 경쟁력이 된다
79              "UAM 경쟁력 강화"…SKT, 美 조비에 1억달러 지분 투자

[80 rows x 1 columns]