In [1]:
from selenium import webdriver

In [2]:
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import threading
import pandas as pd

In [4]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
chrome_options = Options()
chrome_options.add_experimental_option("detach", True)

In [5]:
driver.get('https://www.melon.com/chart/index.htm')

In [26]:
songs = driver.find_elements(By.CSS_SELECTOR, 'table > tbody > tr')

song_data = []
rank = 0
for song in songs:
    title_list = song.find_element(By.CSS_SELECTOR,'div.rank01 > span > a').text
    artist_list = song.find_element(By.CSS_SELECTOR,'div.rank02 > a').text
    rank = rank+1
    song_data.append(["melon",rank, title_list, artist_list])
    
    
df_melon = pd.DataFrame(song_data, columns=['서비스', '순위', '타이틀', '가수'])
df_melon

      서비스   순위                              타이틀                  가수
0   melon    1                   퀸카 (Queencard)             (여자)아이들
1   melon    2                             I AM           IVE (아이브)
2   melon    3            이브, 프시케 그리고 푸른 수염의 아내  LE SSERAFIM (르세라핌)
3   melon    4                            Spicy               aespa
4   melon    5  UNFORGIVEN (feat. Nile Rodgers)  LE SSERAFIM (르세라핌)
..    ...  ...                              ...                 ...
95  melon   96                Love Me Like This               NMIXX
96  melon   97        겁도 없이 (feat. BIG Naughty)                 B.I
97  melon   98                          나의 목소리로                 김호중
98  melon   99                          내가 아니라도                  주호
99  melon  100             정이라고 하자 (Feat. 10CM)   BIG Naughty (서동현)

[100 rows x 4 columns]

In [30]:
driver.get('https://music.bugs.co.kr/chart')

In [46]:
songs2 = driver.find_elements(By.CSS_SELECTOR, 'table.byChart > tbody > tr')
len(songs2)

100

In [48]:
# 벅스 타이틀 리스트
# #CHARTrealtime > table > tbody > tr:nth-child(n) > th > p > a

songs2 = driver.find_elements(By.CSS_SELECTOR, 'table.byChart > tbody > tr')

song_data2 = []
rank = 0
for song2 in songs2:
    title_list2 = song2.find_element(By.CSS_SELECTOR,'p.title > a').text
    artist_list2 = song2.find_element(By.CSS_SELECTOR,'p.artist > a').text
    rank = rank+1
    song_data2.append(["bugs",rank, title_list2, artist_list2])
    
    
df_bugs = pd.DataFrame(song_data2, columns=['서비스', '순위', '타이틀', '가수'])
df_bugs

     서비스   순위                                     타이틀                  가수
0   bugs    1            Steal The Show (From “엘리멘탈”)           Lauv(라우브)
1   bugs    2                          퀸카 (Queencard)             (여자)아이들
2   bugs    3                                    I AM           IVE (아이브)
3   bugs    4                                   Spicy               aespa
4   bugs    5                   이브, 프시케 그리고 푸른 수염의 아내  LE SSERAFIM (르세라핌)
..   ...  ...                                     ...                 ...
95  bugs   96                         strawberry moon             아이유(IU)
96  bugs   97                          Say I Love You           우디(Woody)
97  bugs   98                                      희재        이홍기 (FT아일랜드)
98  bugs   99                                 딱 10CM만                10CM
99  bugs  100  NOT SORRY (Feat. pH-1) (Prod. by Slom)                 이영지

[100 rows x 4 columns]

In [52]:
driver.get('https://www.genie.co.kr/chart/top200')

songs3 = driver.find_elements(By.CSS_SELECTOR, 'table > tbody > tr')
len(songs3)

50

In [66]:
# 지니 타이틀 리스트 (1~100위)

song_data3 = []


def get_chart(page):
    driver.get("https://www.genie.co.kr/chart/top200?ditc=D&ymd=20230702&hh=17&rtm=Y&pg=" + str(page))
    
    songs3 = driver.find_elements(By.CSS_SELECTOR, 'table > tbody > tr')
    
    for song in songs3:
        title_list3 = song.find_element(By.CSS_SELECTOR, 'td.info > a.title').text
        artist_list3 = song.find_element(By.CSS_SELECTOR, 'td.info > a.artist').text
        song_data3.append(["genie",title_list3, artist_list3])

In [67]:
%%time
for page in range(1,3):
    get_chart(page)

Wall time: 4.05 s

In [68]:
df_genie = pd.DataFrame(song_data3, columns=['서비스', '타이틀', '가수'])
df_genie.insert(1, '순위', range(1,101))
df_genie

      서비스   순위                    타이틀                  가수
0   genie    1         퀸카 (Queencard)             (여자)아이들
1   genie    2                   I AM           IVE (아이브)
2   genie    3  이브, 프시케 그리고 푸른 수염의 아내  LE SSERAFIM (르세라핌)
3   genie    4                  Spicy               aespa
4   genie    5                 Kitsch           IVE (아이브)
..    ...  ...                    ...                 ...
95  genie   96               빛이 나는 사람                 김호중
96  genie   97                내가 아니라도                  주호
97  genie   98           Every Second          Mina Okabe
98  genie   99                    신호등                 이무진
99  genie  100              사랑..그게 뭔데            지아 (Zia)

[100 rows x 4 columns]

In [69]:
new_df = pd.concat([df_melon,df_bugs],ignore_index=True)
new_df = pd.concat([new_df,df_genie],ignore_index=True)
new_df

       서비스   순위                              타이틀                  가수
0    melon    1                   퀸카 (Queencard)             (여자)아이들
1    melon    2                             I AM           IVE (아이브)
2    melon    3            이브, 프시케 그리고 푸른 수염의 아내  LE SSERAFIM (르세라핌)
3    melon    4                            Spicy               aespa
4    melon    5  UNFORGIVEN (feat. Nile Rodgers)  LE SSERAFIM (르세라핌)
..     ...  ...                              ...                 ...
295  genie   96                         빛이 나는 사람                 김호중
296  genie   97                          내가 아니라도                  주호
297  genie   98                     Every Second          Mina Okabe
298  genie   99                              신호등                 이무진
299  genie  100                        사랑..그게 뭔데            지아 (Zia)

[300 rows x 4 columns]

In [70]:
new_df.to_excel("C:\JupyterTest\minitest2.xlsx", encoding='euc-kr')